<div class="container row">
  <div class="col-md-12">
    <h1>Upload Image</h1>
  </div>
</div>

<div class="container row">
  <div class="col-md-6">
    <input type="file" (change)="onFileChangedPDF($event)">
  </div>
  <!--div class="col-md-6">
    <input type="button" (click)="onUpload()" value="upload">
  </div-->
</div>
<hr />
<div class="container row">
  <div class="col-md-6">
    <input type="file" (change)="onFileChangedXML($event)">
  </div>
  <div class="col-md-6">
    <input type="button" (click)="onUpload()" value="upload">
  </div>
</div>
<hr />

<div class="container row">
  <div class="col-md-12">
    <div *ngIf=message>{{message}}</div>
  </div>
</div>


<div class="container row">
  <div class="col-md-6">
    <!--input type="text" class="form-control" id="name" placeholder="image name" [(ngModel)]="imageName" 24 name="name" /-->
  </div>
  <div class="col-md-6">
    <input type="button" (click)="getImage()" value="Get Image">
  </div>
</div>

<div class="container row">
  <div class="col-md-12">
    <div *ngIf=retrievedImage>
      <img [src]="retrievedImage">
    </div>
  </div>
</div>